<header class="site-header" role="banner">
    <div class="wrapper">
        <a class="site-title" rel="author" href="{{ " /" | relative_url }}">{{ site.title | escape }}</a>
        <nav class="site-nav">
            <div class="trigger">
                {% for collection in site.collections %}
                    {% unless collection.label == 'posts' %}
                        <a class="page-link" href="{{ collection.label | prepend: "/" | append: "/" | relative_url }}">
                            {{ collection.title | default: collection.label | capitalize }}
                        </a>
                    {% endunless %}
                {% endfor %}
            </div>
        </nav>
    </div>
</header>